.buttonContainer{
    margin: 5px;
    padding: 5px;
    padding-top: 7px;
    border-color:grey;
    background-color: grey;
    border-width: 2px;
    border-style: solid;
    color: white;
    border-radius: 2px;
}